@using Movie.App.Logic
@model List<Movie.App.Logic.MovieInfo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Movie Search Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <h3><b>Search for a movie</b></h3>
        <form action="MovieSearch" method="post">

            <table>
                <tr>
                    <td>Enter movie title</td>
                    <td><input type="text" name="txtMovieTitleSearch" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Search" /></td>
                </tr>
            </table>

        </form>

        <h2>Movies</h2>

        <table>

            <tr>

                <th>

                    Html.DisplayNameFor(model.MovieTitle)

                </th>

                <th>

                    Html.DisplayNameFormodel.ReleaseYear)

                </th>

            </tr>


            <% foreach (var item in Model) { %>
            <tr>

                <td>

                    <%= Html.DisplayFor(modelItem => item.MovieTitle) %>

                </td>

                <td>

                    <%= Html.DisplayFor(modelItem => item.ReleaseYear) %>

                </td>

            </tr>

            }

        </table>


    </div>
</body>
</html>
